* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  padding: 20px;
  list-style: none;
}
button {
  letter-spacing: 1px;
}
.color-red {
  color: red;
}
.color-black {
  color: black;
}
.black-btn {
  position: sticky;
  top: 0;
  background: #333;
  border: none;
  z-index: 1;
}
.black-btn:hover,
.black-btn:focus {
  background: #eee;
}
.modal-content .modal-title {
  font-size: 20px;
}
.modal-content button {
  padding: 5px 10px;
  font-size: 15px;
}
.dollar-sign {
  padding-right: 3px;
  color: #bbb;
  font-weight: 400;
  font-size: 12px;
}
.price {
  color: red;
  font-weight: bold;
}
.loading {
  position: absolute;
  top: 45%;
  left: 45%;
}
