@header-height:100px;


header{
    width:100%;
    height:@header-height;
    text-align: center;
    background-color: #222;
    h1{
        line-height: @header-height;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 1px;
        font-size: 40px;
        font-weight: 100;
        color:#fff;
    }
    
}