.products,
.product-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.products img,
.product-img img {
  height: 300px;
  width: 300px;
}
.product-list > li {
  border: 1px solid #eee;
  height: 380px;
  margin-bottom: 20px;
}
.product-list img {
  width: 200px;
  height: 200px;
}
.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 10px;
}
.product-info > p {
  align-self: flex-start;
}
.pd-title {
  margin: 0;
  padding-top: 20px;
  font-size: 14px;
  letter-spacing: 1px;
}
.pd-des {
  margin: 3px 0;
  font-weight: 100;
  font-size: 14px;
  color: #333;
}
.pd-price {
  margin: 0;
}
.addCart-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
}
